.popup-avatar__form-container {
  max-width: 430px;
  max-height: 272px;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 629px){
  .popup-avatar__form-container {
    min-width: 282px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
